<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- TODO creer un fichier css-->

<style>
    body, header, h1{
        margin:0;
        padding:0;
    }

    #login-form {
        margin: 40px auto;
        width: 360px;
    }

    form {
        margin: 10px;
        position: relative;
        text-align: right;
    }

    .input-group{
        margin-bottom: 16px;
    }

    .fields {
        padding: 16px;
    }

    .label{
        display: inline-block;
        width: 100px;
        color:#000;
        text-align: right;
    }

    .page-header{
        background: #2ce;
        color: white;
        margin:0;
        padding: 8px;
        padding-top: 20px;
    }
    .page-header h1{
        font-size: 2rem;
    }
    .panel-footer{
        text-align: right;
    }

    .page-header a{
        background-color: #28b;
        color:#fff;
        position: absolute;

        padding: 6px;
        top:8px;
        right:8px;
        font-size: 1rem;
    }


</style>